body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Assign to parents for changing direction */
.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }
/* Assign to children of row/col to center */
.row.centerChildren > *, .row > .centered { align-self: center; margin: auto 0px; }
.col.centerChildren > *, .col > .centered { align-self: center; margin: 0px auto; }
/* Assign to empty child dive to aesthetically fill space */
.spacer { flex:1; }

h1,h2,h3,h4,h5,p,span {
  margin: 0;
}

.icon {
  max-width: 100%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* .modalOverlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-overlay-color);
  backdrop-filter: blur(0.25rem);
  display: flex;
  align-content: center;
}

.modal {
  margin: auto;
  margin-top: 3rem;
  background-color: var(--background-color);
  min-width: var(--chirp-width);
  padding: 1rem;
  border-radius: 1rem;
} */